<<<<<<< HEAD
body{
    background-color: black;
}
=======
HEAD
body{
    background-color: black;
}

=======

>>>>>>> 1ebfd276c50f9e678b38a10c2db7405ec0f2c66a

.flex{
    display: flex;
}

/* Carregamento */

.tela_carregamento{
    text-align: center;
    padding-top: 240px;
}

.logo_carregamento{
text-align: center;
margin-bottom: 50px;
}

.bolinhas_carregamento{
text-align: center;
}

<<<<<<< HEAD
=======
HEAD
>>>>>>> 1ebfd276c50f9e678b38a10c2db7405ec0f2c66a
.flex{
    display: flex;
}

<<<<<<< HEAD
=======
=======
=======
>>>>>>> 1ebfd276c50f9e678b38a10c2db7405ec0f2c66a
/* Carregamento */


/* Quem_é_você */

.quem_e_voce{
    
}

/* Quem_é_você */
<<<<<<< HEAD
=======
=======
>>>>>>> 1ebfd276c50f9e678b38a10c2db7405ec0f2c66a
