body {
    background-color: black;
    color: white;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.flex {
    display: flex;
}

/*rotas*/

.caixa_verde_rotas {
    color: white;
    background-color: #58b125;
    border-radius: 20px;
    border: none;
    width: 200px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    padding: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img_rotas {
    width: 430px;
    height: 670px;
    text-align: center;
    padding-top: 20px;
}

.ver_fixados {
    margin: 10px;
}

.centralizar_rotas{
    text-align: center;
    height: 50px;
    width: 430px;
}

.ver_fixados button {
    background-color: #0ca217;
    color: white;
    padding: 13px 80px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.ver_fixados button:hover {
    background-color: #089015;
}

.menus img {
    margin-left: 18px;
    width: 90%;
    max-width: 350px;
    height: auto;
    margin-top: auto;

}


/*rotas*/


/* Carregamento */

.tela_carregamento {
    text-align: center;
    padding-top: 240px;
}

.logo_carregamento {
    text-align: center;
    margin-bottom: 50px;
}

.bolinhas_carregamento {
    text-align: center;
   display: flex;
    justify-content: center;
    gap: 10px;
}


.flex {
    display: flex;
}


/* Carregamento */

/* login */

.login_icon {
    text-align: center;
    padding-right: 35px;
    padding-top: 100px;
}

.text_volta {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-right: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.caixa_login {
    border-radius: 50px;
    background-color: #0549b1;
    width: 430px;
    height: 50px;
    text-align: center;
    color: white;
    border: none;
}

.margin {
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caixa_verde_login {
    border-radius: 50px;
    width: 230px;
    background-color: #31a06a;
    text-align: center;
    justify-content: center;
    height: 50px;
    color: white
}

.final_página {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
}

.centralizar1 {
    text-align: center;
    padding: 12px;
    font-size: larger;
    border: none;
}

.centralizar2 {
    text-align: center;
    margin: 3px;
}

.flex_login {
    display: flex;
    justify-content: center;
}

/* login */

/* Esqueceu sua senha? */

.img_carinha_esqueci {
    width: 430px;
    height: 300px;
    text-align: center;
}

.text_esqueci {
    justify-content: center;
    text-align: center;
    width: 430px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.p {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 430px;
}

.caixa_esqueci {
    border-radius: 50px;
    width: 230px;
    background-color: #0549b1;
    text-align: center;
    justify-content: center;
    height: 50px;
}

.centralizar_esqueci {
    text-align: center;
    padding: 5px;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caixa_reeviar {
    border-radius: 50px;
    width: 230px;
    background-color: #0cc0df;
    text-align: center;
    justify-content: center;
    height: 50px;
}

.centralizar_reenviar {
    text-align: center;
    padding: 7px;
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alinhar {
    width: 430px;
    text-align: center;
    padding-left: 100;
    padding-right: 100;
}

/* Esqueceu sua senha? */

/* Redefinir senha */

.img_carinha_redefinir {
    width: 389px;
    height: 300px;
    text-align: center;
}

.text_redefinir {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-right: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.caixa_redefinir {
    border-radius: 50px;
    background-color: #0549b1;
    width: 330px;
    height: 40px;
    margin-left: 50px;
    text-align: center;
    border: none;
    color: white;
}

.sub1 {
    margin: 10px;
    margin-right: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.sub2 {
    margin: 10px;
    margin-right: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.final_redefinir {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caixa_verde_redefinir {
    border-radius: 50px;
    width: 230px;
    background-color: #00bf63;
    text-align: center;
    justify-content: center;
    margin: 30px;
    height: 50px;
    color: white;
    border: none;
}

.centralizar_redefinir {
    text-align: center;
    padding: 12px;
    font-size: larger;
}

.img_carinha {
    width: 400px;
    height: 300px;
    text-align: center;
}

/* Cadastro 1 */

.cadastro1_icon {
    text-align: center;
    padding-right: 35px;
    padding-top: 100px;
}

.caixa_cadastro1 {
    border-radius: 50px;
    background-color: #0549b1;
    width: 400px;
    height: 60px;
    text-align: center;
}

.margin_cadastro1 {
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.caixa_verde_cadastro1 {
    border-radius: 50px;
    width: 320px;
    background-color: #00bf63;
    text-align: center;
    justify-content: center;
    margin: 30px;
    margin-left: 50px;
    height: 50px;
}

.final_cadastro1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 20px;
}

.centralizar_cadastro1 {
    text-align: center;
    padding: 9px;
    font-size: x-large;
}

.flex_circulo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.circulo_esquerda_cadastro1 {
    background: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 10px;
}

.circulo_direito_cadastro1 {
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    margin: 10px;
}

/* Cadastro 1 */

/* Cadastro 2 */

.cadastro2_icon {
    text-align: center;
    padding-right: 35px;
    padding-top: 100px;
}

.caixa_cadastro2 {
    border-radius: 50px;
    background-color: #0549b1;
    color: white;
    width: 100px;
    height: 30px;
    text-align: center;
}

.margin_cadastro2 {
    margin: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;

}

.caixa_verde_cadastro2 {
    border-radius: 50px;
    width: 320px;
    background-color: #00bf63;
    text-align: center;
    justify-content: center;
    margin: 30px;
    margin-left: 50px;
    height: 50px;
    color: white;
}

.final_cadastro2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 20px;
}

.centralizar_cadastro2 {
    text-align: center;
    padding: 9px;
    font-size: x-large;
}

.flex_circulo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.circulo_esquerda_cadastro2 {
    width: 18px;
    height: 18px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: transparent;
    margin: 10px;
}

.circulo_direita_cadastro2 {
    background: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 10px;
}

/* Cadastro 2 */

/* Sensores */

.caixa_selecione{
    color: white;
    font-size: 20px;
}

.flex_sensor {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.quadradoZ{
    border-radius: 50px;
    background-color: #0549b1;
    color: white;
    width: 100px;
    height: 30px;
    text-align: center;
    margin: 10px;
}

.sensor {
    margin: 10px;
}

.img {
    margin: 10px;
}

.titulo1 {
    font-size: 30;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo2 {
    font-size: 20;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
}

.subt1 {
    margin: 5px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subt2 {
    margin: 5px;
    font-size: large;
    color: #00bf63;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
}

.textinho {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 30px;
}

.btn_seta {
    background-color: black;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.btn_seta img {
    display: block;
}

/* Sensores */

/* Perfil */
.foto_perfil {
    text-align: center;
    width: 430px;
}

.flex_nome {
    display: flex;
    text-align: center;
    justify-content: center;
}

.flex_outros {
    display: flex;
    justify-content: space-between;
    margin: 1px;
    margin-right: 30px;
    margin-left: 20px;
}

.font_and_size {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    margin: 5px;
    color: white;
    background-color: black;
    border: none;
}

.font_and_size_sub {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    margin: 1px;
}

.theme-checkbox {
  --toggle-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6.25em;
  height: 3.125em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  border-radius: 99em;
  position: relative;
  cursor: pointer;
  font-size: var(--toggle-size);
}

.theme-checkbox::before {
  content: "";
  width: 2.25em;
  height: 2.25em;
  position: absolute;
  top: 0.438em;
  left: 0.438em;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #efefef), color-stop(50%, #2a2a2a)) no-repeat;
  background: -o-linear-gradient(left, #efefef 50%, #2a2a2a 50%) no-repeat;
  background: linear-gradient(to right, #efefef 50%, #2a2a2a 50%) no-repeat;
  background-size: 205%;
  background-position: 100%;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.theme-checkbox:checked::before {
  left: calc(100% - 2.25em - 0.438em);
  background-position: 0;
}

.theme-checkbox:checked {
  background-position: 100%;
}

.tit {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    margin: 1px;
    margin-left: 20px;
}

.sub_tit {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    margin: 1px;
    margin-left: 20px;
}

.flex_linha {
    display: flex;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ma {
    margin: 5px;
}

.mma {
    margin: 5px;
    color: #00bf63;
    background-color: black;
    border: none;
    text-decoration: underline;
}

.m {
    margin: 5px;
    margin-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tit_baixo1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    margin: 1px;
    color: #0867d5;
    background-color: black;
    border: none;
}

.tit_baixo2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    margin: 1px;
    color: #ff5757;
    background-color: black;
    border: none;
}

.centralizar_perfil{
    text-align: center;
}

.flex_perfil{
    display: flex;
    justify-content: space-between;
}

.button_icones{
    border: none;
    background-color: black;
}

/* Perfil */

/* entrada */

.img_entrada {
    text-align: center;
    padding-top: 100px;
}

.text_entrada {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}

.alinhar_entrada {
    padding-left: 115px;
    padding-right: 115px;
}

.caixa_azul_entrada {
    cursor: pointer;
    transition: all 0, 3s ease;
    color: white;
    background-color: #3254ea;
    border-radius: 20px;
    border: none;
    width: 200px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    padding: 10px;
}

/* pesquisa */
#phone {
    border: none;
    color: white;
    background-color: black;
}

.blue {
    color: #66a0cf;
}

.red {
    color: rgb(235, 75, 75);
}

.Green {
    color: #00bf63;
}

.Ciano {
    color: aquamarine;
}

.paragrafo_pesquisa {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: x-large;
    margin-top: 180px;
    padding: -200;
}

.barra_de_pesquisa {
    border: 3px solid white;
    border-radius: 50px;
    width: 330px;
    height: 40px;
    margin: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
}

.pesquisar {
    margin: 0px;
}


/* pesquisa */

.blue {
    color: #66a0cf;
}

.red {
    color: rgb(235, 75, 75);
}

.Green {
    color: #00bf63;
}

.Ciano {
    color: aquamarine;
}

.paragrafo_pesquisa {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: x-large;
    margin-top: 180px;
    width: 430px;
}

.barra_de_pesquisa {
    border: 3px solid white;
    border-radius: 50px;
    width: 260px;
    height: 40px;
    margin: 40px;
    margin-left: 75px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
}

.pesquisar {
    margin: 0px;
    font-size: larger;
    width: 74px;
    height: 34px;
    padding-left: 10px;
    padding-top: 4px;
}

.trem_2 {
    text-align: center;
    padding-left: 65px;
    padding-right: 65px;
    width: 430px;
}

/* entrada */

/* rotas fixadas */

.seta{
    background-color: black;
    border: none;
}

#botao_notifica{
    justify-content: center
}

.caixa_azul_rf {
    cursor: pointer;
    color: white;
    background-color: #3254ea;
    border-radius: 20px;
    border: none;
    width: 200px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    padding: 10px;
}

.centro_rota {
    text-align: center;
    color: white;
    background-color: black;
}

.manio {
    margin: 10px;
}

.flex_emcima {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.texto_emcima {
    padding-left: 100px;
}

.flex_textos1 {
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 30px;
    padding-right: 20px;
}

.flex_textos2 {
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 60px;
    padding-right: 60px;
}


.flex_caixa {
    text-align: center;
    justify-content: space-between;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    font-size: large;
}

.caixa_azul_específico1 {
    background-color: #0549b1;
    border-radius: 20px;
    height: 60px;
    width: 150px;
    padding-top: 15px;
}

.caixa_azul_específico2 {
    background-color: #0549b1;
    border-radius: 20px;
    height: 60px;
    width: 150px;
    padding-top: 5px;
}

.pontos {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 430px;
}

.caixa_azul_específico3 {
    background-color: #0549b1;
    border-radius: 20px;
    height: 60px;
    width: 170px;
    padding-top: 10px;
    font-size: large;
}

.center {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
    height: 40px;
}

.notificar {
    background-color: #0549b1;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
    padding-top: 5px;
    text-align: center;
}


/* rotas fixadas */

/* Suporte e Alertas */

.suporEalert {
    border-radius: 0px 50px 50px 0px;
    background-color: #0549b1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 40px;
    text-align: center;
    width: 300px;
    padding-top: 2px;
    font-size: x-large;
}

.texto_sobre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caixa_selecione {
    background-color: #0549b1;
    border-radius: 50px;
    width: 330;
    height: 40PX;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5PX;
}

.coisas {
    margin: 
    35px;
}

.caixa_verde_supEale {
    border-radius: 50px;
    width: 300px;
    background-color: #00bf63;
    text-align: center;
    justify-content: center;
    height: 70px;
    color: white;
}

.centralizar_enviar {
    margin-left: 5px;
    margin-bottom: 110px;
    margin-top: 110px;
}

.centralizar_text_alert {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    padding: 20px;
}








/* Suporte e Alertas */